<div class="section-wrapper">
  <section class="section about" id="about">
    <div id="about-text" style="font-size: x-large">
      <div class="section-heading">About</div>
      <p class="paragraph-text justify-text">이름 : 임정현</p>
      <p class="paragraph-text justify-text">생년월일 : 2000-01-27 (24)</p>
      <p class="paragraph-text justify-text">
        학교 : 서울여자대학교 정보보호학과 (졸업)
      </p>
      <p class="paragraph-text justify-text">
        경력 : 모바일 앱 개발 인턴 (6개월) & SSAFY 9기
      </p>
      <p class="paragraph-text justify-text">연락처 : 010-3545-6395</p>
      <p class="paragraph-text justify-text">이메일 : chfhddl1234@naver.com</p>
      <a
        href="https://www.github.com/limzzum/"
        target="_blank"
        style="margin-right: 20px"
      >
        <img
          alt="limzzum's github"
          width="24px"
          src="https://raw.githubusercontent.com/hussainweb/hussainweb/main/icons/github.png"
        />
        github
      </a>

      <a href="https://zammanboss.tistory.com/" target="_blank">
        <img alt="blog" width="24px" src="assets/images/dev-jeans.png" />
        tistory
      </a>
    </div>
  </section>
</div>
