<div class="section-wrapper">
  <section class="section about" id="about">
    <div id="about-text" style="font-size: x-large">
      <div class="section-heading">About</div>
      <p class="paragraph-text justify-text">
        학교 : 서울여자대학교 정보보호학과 (2018 - 2022/졸업)
      </p>
      <p class="paragraph-text justify-text">
        경력 : Obigo(오비고) Flutter를 활용한 모바일 앱 개발 인턴 (2021/06 - 2021/12)
      </p>
      <p class="paragraph-text justify-text">이메일 : chfhddl1234@naver.com</p>
      <a
        href="https://www.github.com/limzzum/"
        target="_blank"
        style="margin-right: 20px"
      >
        <img
          alt="limzzum's github"
          width="24px"
          src="https://raw.githubusercontent.com/hussainweb/hussainweb/main/icons/github.png"
        />
        github
      </a>

      <a href="https://zammanboss.tistory.com/" target="_blank">
        <img alt="blog" width="24px" src="assets/images/dev-jeans.png" />
        tistory
      </a>
      <br></br>

      <div class="section-heading">Study</div>
      <p class="paragraph-text justify-text" style="text-align: center; font-size: x-large;">
         SpringBoot & JPA
      </p>
      <p class="paragraph-text justify-text"  style="text-align: center; font-size: x-large;">
         AWS & Jenkins & Docker
      </p>

      <br></br>

      <div class="section-heading">Daily</div>
      <p class="paragraph-text justify-text"  style="text-align: center; font-size: x-large;"">
         Exercise & Algorithm
      </p>
      
    </div>
  </section>
</div>
