<div class="section-wrapper">
  <section class="section skills" id="skills">
    <div>
      <div class="section-heading" id="skills-text">Skills <img src="https://github.githubassets.com/images/icons/emoji/unicode/1f469-1f393.png?v8"/>
            <p style="font-size: large; color: #fff; text-align: center;">이것들을 활용해 프로젝트를 진행할 수 있어요</p>

      </div>
      <br/>
      <div>
        <a href="https://github.com/harish-sethuraman/readme-components">
          <img
            src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=spring&animation=spin&svgfill=15d8fe"
          />
        </a>

        <a href="https://github.com/harish-sethuraman/readme-components">
          <img
            src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=java&svgfill=2d79c7"
          />
        </a>
       
        <a href="https://github.com/harish-sethuraman/readme-components">
          <img
            src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=mariadb&svgfill=df5c43"
          />
        </a>
        <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=git&svgfill=df5c43"
            />
          </a>

          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=jenkins&svgfill=df5c43"
            />
          </a>

          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=docker&svgfill=df5c43"
            />
          </a>
         
      </div>

      <br></br>
      <div class="section-heading"id="skills-text">Knowledge <img src="https://github.githubassets.com/images/icons/emoji/unicode/1f476.png?v8"/></div>
      <p style="font-size: large; color: #fff; text-align: center;">사용해 본 경험이 있고 배운다면 잘 활용할 수 있어요</p>

      <div>
        <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=react&animation=spin&svgfill=15d8fe"
            />
          </a>


          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=typescript&svgfill=df5c43"
            />
          </a>

          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=flutter&svgfill=8ed5fa"
            />
          </a>
          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=dart&svgfill=659b60"
            />
          </a>
        
      </div>

      <br></br>

      <div>

      </div>




    </div>
  </section>
</div>
