<div class="section-wrapper">
  <section class="section skills" id="skills">
    <div>
      <div class="section-heading" id="skills-text">Skills</div>

      <div>
        <a href="https://github.com/harish-sethuraman/readme-components">
          <img
            src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=spring&animation=spin&svgfill=15d8fe"
          />
        </a>
        <a href="https://github.com/harish-sethuraman/readme-components">
          <img
            src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=java&svgfill=2d79c7"
          />
        </a>
        <a href="https://github.com/harish-sethuraman/readme-components">
          <img
            src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=flutter&svgfill=8ed5fa"
          />
        </a>
        <a href="https://github.com/harish-sethuraman/readme-components">
          <img
            src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=dart&svgfill=659b60"
          />
        </a>
        <a href="https://github.com/harish-sethuraman/readme-components">
          <img
            src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=mysql&svgfill=df5c43"
          />
        </a>
        <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=git&svgfill=df5c43"
            />
          </a>
         
      </div>

      <br></br>
      <div class="section-heading" id="skills-text">Knowledge</div>

      <div>
        <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=vue.js&animation=spin&svgfill=15d8fe"
            />
          </a>
          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=python&svgfill=2d79c7"
            />
          </a>
          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=jenkins&svgfill=8ed5fa"
            />
          </a>
        
          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=kotlin&svgfill=df5c43"
            />
          </a>
          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=markdown&svgfill=df5c43"
            />
          </a>
        
          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=javascript&svgfill=df5c43"
            />
          </a>
          <a href="https://github.com/harish-sethuraman/readme-components">
            <img
              src="https://readme-components.vercel.app/api?component=logo&fill=black&logo=jekyll&svgfill=df5c43"
            />
          </a>
        
      </div>
    </div>
  </section>
</div>
